.Welcome-component {
     /* The image used */
     background-image: url(../assets/jiobpbackground.png);

     /* Full height */
     height: 100vh; 
 
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.btn {
    background-color:#ffe001;
    position:absolute;
    top:90%;
    left:10%;
    font-weight: bold;
}
img{
    height: 100px;
    width: 150px;
    margin-top:40em;
    margin-left:85em;
    position:relative;
}