.card {
    background-color: #ffe001;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spantext{
right:0%;
position:absolute;
margin-right: 2rem;
font-size: 20px;
font-weight: bolder;
}
.titletext {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
}
.card-body i {
    font-size: 30px;
    margin-left: 1rem;
}

.emptymsgstyle{
   font-size: 20px;
   font-weight: bold;
}