.vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
}

.maincontainer{
    width: 20%;
}
.bgimage {
    background-image: url(../../assets/jiobp_background.jpg);
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.credential{
    background-color:whitesmoke ;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #178b49,5px 5px 5px #9ADE82,5px 5px 5px #ffe001;
}

.fontSet::placeholder{
    font-family: FontAwesome ;
    color:gray;
}

.mainheading{
    font-weight: bold;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color:#17a2b8;
    cursor: pointer;
}

.btnsub{
    background-color:#ffe001;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.btnsub:hover{
    background-color: green;
}